<section class="auth-container">
  <h2>Entrar</h2>
  <form action="/login">
  <label for="email">E-mail</label>
    <input type="email" name="email" placeholder="Digite seu email">
    <label for="password">Senha:</label>
    <input type="passeord" name="password" placeholder="Sua senha">
    <input type="submit" value="Entrar">
    <p>Já tem conta <a href="#">Clique aqui</a></p>
  </form>
</section>