:root{
  --background: #1c1b1c;
  --blue: #068FFF;
  --white: #fff
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--white);
}

#navbar{
  padding: 1.2rem 1.4rem;
  margin-bottom:  1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border-bottom: 2px solid var(--white);
}


#navbar ul{
  display: flex;
  list-style: none;
}

#navbar ul li{
  margin-left: 1rem;
}

#navbar ul li a{
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

#navbar ul li a:hover{
  color: var(--blue);
}

/* Message */
.message{
  padding: 1rem;
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2rem;
  max-width: 60%;
}


/* Container */
.container{
  min-height: 70vh;
  padding: 2rem;
}

/* footer */
footer{
  height: 150px;
  display: grid;
  place-items: center;
}

footer span{
  font-weight: bold;
  color: var(--blue);
}

/* Register */

.auth-container{
max-width: 468px;
margin: auto;

}

.auth-container form{
  display: flex;
  flex-direction: column;
}

.auth-container h2::before{
  content: "";
  padding: 2px;
  padding-top: 10px;
  border-left: 6px solid var(--blue);
  padding: 2px;
  margin: 0 7px 0 0;
}

.auth-container label{
  font: bold;
  margin-top: 15px;
}

.auth-container input{
  padding: 15px;
  border: 2px solid var(--white);
  outline-color: var(--blue);
}

.auth-container input:focus{
  border-color: var(--blue);
  outline: none;
}

.auth-container input[type=submit]{
  max-width: 154px;
  margin-top: 20px;
  border-color: var(--blue);
  color: var(--white);
  font-weight: bold;
}

.auth-container a{
  color: var(--blue);
}